html[data-theme='dark']{
    --text-color:white;
    --bg: rgb(18, 18, 18);
    --news-bg: rgb(36, 36, 41);
    --footer-bg: rgb(36, 36, 41);
    --little-color: rgb(144, 144, 144);
    --intro-color: rgb(165, 165, 167);
}
html[data-theme='bright']{
    --text-color:black;
    --bg:white;
    --news-bg: rgb(242, 242, 242);
    --footer-bg: rgb(242, 242, 242);
    --little-color: rgb(121, 121, 121);
    --intro-color: rgb(85, 85, 88);
}

:root{
    --text-color:black;
    --news-bg: rgb(242, 242, 242);
    --color-primary: rgb(18, 120, 175);
    --footer-bg: rgb(242, 242, 242);
    --little-color: rgb(121, 121, 121);
    --intro-color: rgb(85, 85, 88);
}